<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add car</title>
    <style>
        .fieldError{
            border-color: #ff0000;
        }
    </style>
</head>
<body>
<h1>Add car</h1>

<form th:action="@{/buyCar/addCar}" th:object="${car}" method="post">
    <table>
        <tr>
            <td>Model</td>
            <td>
                <input type="text" th:field="*{model}" th:errorClass="fieldError">
                <span th:if="${#fields.hasErrors('model')}" th:errors="*{model}"/>
            </td>
        </tr>
        <tr>
            <td>Production Date</td>
            <td>
                <input type="date" th:field="*{date}" th:errorClass="fieldError">
                <span th:if="${#fields.hasErrors('date')}" th:errors="*{date}"/>
            </td>
        </tr>
        <tr>
            <td>Nr Oc</td>
            <td>
                <input type="text" th:field="*{nrOc}" th:errorClass="fieldError">
                <span th:if="${#fields.hasErrors('nrOc')}" th:errors="*{nrOc}"/>
            </td>
        <tr>

        <tr>
            <td>Register Number</td>
            <td>
                <input type="text" th:field="*{nrRegister}" th:errorClass="fieldError">
                <span th:if="${#fields.hasErrors('nrRegister')}" th:errors="*{nrRegister}"/>
            </td>
        <tr>
        <tr>
            <td>Fuel</td>
            <td>
                <input type="text" th:field="*{fuelType}" th:errorClass="fieldError">
                <span th:if="${#fields.hasErrors('fuelType')}" th:errors="*{fuelType}"/>
            </td>
        <tr>
        <tr>
            <td>Mileage</td>
            <td>
                <input type="text" th:field="*{mileage}" th:errorClass="fieldError">
                <span th:if="${#fields.hasErrors('mileage')}" th:errors="*{mileage}"/>
            </td>
        <tr>
        <tr>
            <td>Engine type</td>
            <td>
                <input type="text" th:field="*{engine}" th:errorClass="fieldError">
                <span th:if="${#fields.hasErrors('engine')}" th:errors="*{engine}"/>
            </td>
        <tr>
        <tr>
            <td>Engine Power</td>
            <td>
                <input type="text" th:field="*{power}" th:errorClass="fieldError">
                <span th:if="${#fields.hasErrors('power')}" th:errors="*{power}"/>
            </td>
        <tr>
        <tr>
            <td>Gear Box</td>
            <td>
                <input type="text" th:field="*{gearBox}" th:errorClass="fieldError">
                <span th:if="${#fields.hasErrors('gearBox')}" th:errors="*{gearBox}"/>
            </td>
        <tr>
        <tr>
            <td>Description</td>
            <td>
                <input type="text" th:field="*{description}" th:errorClass="fieldError">
                <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"/>
            </td>
        <tr>
        <tr>
            <td>Whose car is it?</td>
            <td>
                <select th:field="*{owner}">
                    <option th:value="COMPANY">COMPANY</option>
                    <option th:value="CLIENT">CLIENT</option>
                </select>
            </td>
        <tr>
        <tr>
            <td colspan="2"><input type="submit"></td>
        </tr>
    </table>
</form>
</body>
</html>