<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:name="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Worker</title>
    <style>
        .fieldError{
            border-color: #ff0000;
        }
    </style>
</head>

<body>
<h1>Add worker</h1>

<form th:action="@{/addWorker/add}"  method="post">
    <table>
        <tr>
            <td>Name</td>
            <td>
                <input type="text" th:field="${worker.name}"  th:errorClass="fieldError">
                <span th:if="${#fields.hasErrors('worker.name')}" th:errors="${worker.name}"/>
            </td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>
                <input type="text" th:field="${worker.surName}"  th:errorClass="fieldError">
                <span th:if="${#fields.hasErrors('worker.surName')}" th:errors="${worker.surName}"/>
            </td>
        </tr>
        <tr>
            <td>Address</td>
            <td>
                <input type="text" th:field="${worker.address}" th:errorClass="fieldError">
                <span th:if="${#fields.hasErrors('worker.address')}" th:errors="${worker.address}"/>
            </td>
        <tr>
        <tr>
            <td>Hired Date</td>
            <td>
                <input type="date" th:field="${worker.hiredDate}" th:errorClass="fieldError">
                <span th:if="${#fields.hasErrors('worker.hiredDate')}" th:errors="${worker.hiredDate}"/>
            </td>
        <tr>
        <tr>
            <td>Privileges</td>
            <td>
                <select th:field="${user.roleName}">
                    <option th:value="TRADER">TRADER</option>
                    <option th:value="MANAGER">MANAGER</option>
                </select>

            </td>
        <tr>
        <tr>
            <td>User name</td>
            <td>
                <input type="text" th:field="${user.userName}" th:errorClass="fieldError">
                <span th:if="${#fields.hasErrors('user.userName')}" th:errors="${user.userName}"/>
            </td>
        <tr>
        <tr>
            <td>User password</td>
            <td>
                <input type="text" th:field="${user.password}" th:errorClass="fieldError">
                <span th:if="${#fields.hasErrors('user.password')}" th:errors="${user.userName}"/>

            </td>
        <tr>
        <tr>
            <td colspan="2"><input type="submit"></td>
        </tr>
    </table>
</form>
</body>
</html>