<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Worker</title>
</head>

<body>
<h1>Add worker</h1>

<form th:action="@{/addWorker/add}" th:object="${worker}" method="post">
    <table>
        <tr>
            <td>Name</td>
            <td>
                <input type="text" th:field="*{name}">

            </td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>
                <input type="text" th:field="*{surName}">

            </td>
        </tr>
        <tr>
            <td>Address</td>
            <td>
                <input type="text" th:field="*{address}">

            </td>
        <tr>
        <tr>
            <td>Hired Date</td>
            <td>
                <input type="date" th:field="*{hiredDate}">

            </td>
        <tr>
        <tr>
            <td>Privileges</td>
            <td>
                <select th:field="${User.roleName}">
                    <option th:value="TRADER">TRADER</option>
                    <option th:value="MANAGER">MANAGER</option>
                </select>

            </td>
        <tr>
        <tr>
            <td>User name</td>
            <td>
                <input type="text" th:field="${User.userName}">

            </td>
        <tr>
        <tr>
            <td>User password</td>
            <td>
                <input type="text" th:field="${User.password}">

            </td>
        <tr>
        <tr>
            <td colspan="2"><input type="submit"></td>
        </tr>
    </table>
</form>
</body>
</html>