<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Strona główna</h1>

<div th:if="${feedback != null}">
    <p th:text="${feedback}"></p>
</div>
<table>
    <tbody>
    <tr>
        <td><a th:href="@{/cars/}">Dostepne auta do sprzedazy</a></td>
    </tr>
    <tr>
        <td><a th:href="@{/buyCar/}">Kup Auto</a></td>
    </tr>
    <tr>
        <td><a th:href="@{/cars/waitingCarsBuy/}">Auta oczekające na potwierdzenie zakupu</a></td>
    </tr>
    <tr>
        <td><a th:href="@{/cars/waitingCarsSell/}">Auta oczekające na potwierdzenie sprzedaży</a></td>
    </tr>
    <tr>
        <td><a th:href="@{/addWorker/}">Dodanie Parcownika</a></td>
    </tr>
    </tbody>
</table>


</table>

</body>
</html>