<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Home page</h1>

<div th:if="${feedback != null}">
    <p th:text="${feedback}"></p>
</div>
<table>
    <tbody>
    <tr>
        <td><a th:href="@{/cars/}">Available cars for sell</a></td>
    </tr>
    <tr>
        <td><a th:href="@{/buyCar/}">buy car</a></td>
    </tr>
    <tr>
        <td><a th:href="@{/cars/waitingCarsBuy/}">Cars waiting for buy accept</a></td>
    </tr>
    <tr>
        <td><a th:href="@{/cars/waitingCarsSell/}">Cars waiting to sell accept</a></td>
    </tr>
    <tr>
        <td><a th:href="@{/addWorker/}">Add Worker</a></td>
    </tr>
    <tr>
        <td><a th:href="@{/users/}">List of users</a></td>
    </tr>
    <tr>
        <td>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Logout">
            </form>
        </td>
    </tr>
    </tbody>
</table>


</table>

</body>
</html>