<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car details</title>
</head>

<body>
<h1>Car details</h1>
<table>
    <tr>
        <th>Car Details</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>Id</td>
        <td th:text="${carId}"></td>
    </tr>
    <tr>
        <td>Model</td>
        <td th:text="${carModel}"></td>
    </tr>


</table>
    <form th:action="@{/sellCar/sell}" th:object="${customer}" method="post">
        <table>
            <tr>
                <td>Customer Name</td>
                <td>
                    <input type="text" th:field="*{name}">

                </td>
            </tr>
            <tr>
                <td>Customer Last Name</td>
                <td>
                    <input type="text" th:field="*{surName}">

                </td>
            </tr>
            <tr>
                <td>Address</td>
                <td>
                    <input type="text" th:field="*{address}">

                </td>
            <tr>

            <tr>
                <td>Nip</td>
                <td>
                    <input type="text" th:field="*{nip}">

                </td>
            <tr>
            <tr>
                <td>pesel</td>
                <td>
                    <input type="text" th:field="*{pesel}">

                </td>
            <tr>

            <tr>
                <td>price</td>
                <td>
                    <input type="text" th:field="${sell.amount}">
                </td>
            <tr>

                <div>
                    <p>Data podpisania umowy</p>
                    <input type="date" th:field="${sell.date}">
                </div>


            <tr>
                <td colspan="2"><input type="submit"></td>
            </tr>
        </table>
    </form>

</body>
</html>