<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Buy List</title>
</head>
<body>
<h1>Waiting list of cars to buy</h1>
<table border="1">

    <tr>
        <th>Date of Purchase</th>
        <th>Price</th>
        <th>Worker</th>
        <th>Customer details</th>
        <th>Car model</th>
        <th>Car ID</th>
    </tr>
    <tr th:each="buy : ${waitingBuyList}">
        <td th:text="${#dates.format(buy.date, 'yyyy-MM-dd')}" ></td>
        <td th:text="${buy.amount}"></td>
        <td th:text="${buy.worker.getName()+' '+ buy.worker.getSurName()}"></td>
        <td th:text="${buy.getCustomer().getName()+ ' ' + buy.getCustomer().surName}"></td>
        <td th:text="${buy.getCar().getModel()}">
        <td th:text="${buy.getCar().getId()}">
        </td>
        <td>
            <a th:href="@{/cars/{id}(id=${buy.getCar().getId()})}" th:text="Details"/>
        </td>
        <td>
            <form th:action="@{/cars/waitingCarsBuy/accept}" method="post">
                <input type="hidden" th:name="id" th:value="${buy.getId()}"/>
                <input type="submit" value="Accept">
            </form>
        </td>

    </tr>
</table>
</body>
</html>