<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sell Cars</title>
</head>
<body>
<h1>Waiting list of cars for sell</h1>
<table border="1">

    <tr>
        <th>Date of Purchase</th>
        <th>Price</th>
        <th>Worker</th>
        <th>Customer details</th>
        <th>Car model</th>
        <th>Car ID</th>
    </tr>
    <tr th:each="sell : ${waitingSellList}">
        <td th:text="${#dates.format(sell.date, 'yyyy-MM-dd')}" ></td>
        <td th:text="${sell.amount}"></td>
        <td th:text="${sell.worker.getName()+' '+ sell.worker.getSurName()}"></td>
        <td th:text="${sell.getCustomer().getName()+ ' ' + sell.getCustomer().surName}"></td>
        <td th:text="${sell.getCar().getModel()}">
        <td th:text="${sell.getCar().getId()}">
        </td>
        <td>
            <a th:href="@{/cars/{id}?waitingCar=1(id=${sell.getCar().getId()})}" th:text="Details"/>
        </td>
        <td>
            <form th:action="@{/cars/waitingCarsSell/accept}" method="post">
                <input type="hidden" th:name="id" th:value="${sell.getId()}"/>
                <input type="submit" value="Accept">
            </form>
        </td>

    </tr>
</table>
</body>
</html>